@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

/*---------------------------------------- General Containers */

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    min-width: 300px;
    font-family: "Open Sans",sans-serif;
}

header, footer{
    display: block;
    background-color: black;
}

.sticky{
    position: fixed;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}

.large-screen-container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    float: none;
}

.col-fifth{
    width: 18%;
    min-height: 1px;
}

.wrapper-container{
    margin: 1px 1px 4px;
    float: none;
}

@media(min-width:992px){
    .wrapper-container{
        margin: 1px auto 4px;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
}

.product-image{
    max-width: 750px;
}

.product-content p{
    padding: 2px 5px;
}

.middle{
    margin: auto auto;
}

.text-center{
    text-align: center;
}

.icon{
    max-width: 42px;
    float: left;
    margin: 2px 6px;
}

.fade-bottom-white{
    width: 100%;
    height: 10px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(249,249,249,0), rgba(249,249,249,1), rgba(249,249,249,1));
    margin-top: -15px;
}

/*----------------------- Header */
.navbar{
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #fafafa;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 10;
}

.navbar-items{
    height: 50px;
}

.navbar-button{
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-family: "Noto Serif KR",sans-serif;
    font-weight: 400;
    line-height: 45px;
    font-size: 19px;
    display: block;
    float: left;
    margin: auto 5px;
    transition: color ease-in-out 0.2s;
    transition: font-size ease-in-out 0.15s;
}

.navbar-button:hover,.navbar-button:active{
    color: #b10000;
    font-size: 18px;
    transition: color ease-in-out 0.2s;
    transition: font-size ease-in-out 0.15s;
}

.logo {
    background: url("../images/cammegh_logo.gif");
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 2px 5px;
    position: relative;
    transition: height ease-in-out 0.2s;
}

@media(min-width:992px){
    .logo{
        background-position: center center;
    }
}

.logo:hover{
    height: 44px;
    transition: height ease-in-out 0.15s;
}

/*----------------------- Footer */

.footer{
    bottom: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #fafafa;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: block;
    margin-top: -40px;
}

.top-return{
    margin-top: 6px;
    margin-left: 5px;
    text-align: center;
    display: block;
    float: left;
}

.footer-spacer{
    width: 100%;
    height: 40px;
    display: block;
    clear: both;
}

@media (max-device-height:400px) and (orientation:landscape){
    .footer{
        position: relative;
    }
}

.footer-button{
    font-family: "Noto Serif KR",sans-serif;
    color: inherit;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    transition: color ease-in-out 0.2s;
    transition: font-size ease-in-out 0.15s;
}

.footer-button:hover{
    color: #b10000;
    font-size: 17px;
    transition: color ease-in-out 0.2s;
    transition: font-size ease-in-out 0.15s;
}

.can-touch .footer-button:hover{
    color: inherit;
    font-size: 18px;
}

/*----------------------- Dropdown Menu */

.fa-2x{
    float: right;
    padding: 8px 14px 10px;
    color: #fafafa;
    cursor: pointer;
    transition: color ease-in-out 0.1s;
}

.fa-2x:hover{
    color: #b10000;
    transition: color ease-in-out 0.1s;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #232323;
    min-width: 160px;
    margin: 50px auto 0;
    right: 0%;
    width: 100vw;
    text-align: left;}

.dropdown-menu:hover, .navbar-dropdown-icon:hover + .dropdown-menu{
    display: block;
}

.dropdown-menu a{
    display: block;
    text-decoration: none;
    color: #fafafa;
    font-family: "Noto Serif KR",sans-serif;
    font-weight: 500;
    padding: 15px 0 15px 10px;
    font-size: large;
    transition: background-color ease-in-out 0.15s;
    transition: color ease-in-out 0.15s;
}

.dropdown-menu a:nth-child(even) {
  background: #3a3a3a;
}

.dropdown-menu a:hover{
    color: #b10000;
    background-color: rgba(0,0,0,0.5);
    transition: background-color ease-in-out 0.15s;
    transition: color ease-in-out 0.15s;
}

/*----------------------- Generic bits */

hr{
    width: 10%;
    margin: 5px auto;
}

.content-container{
    padding: 0 10px;
    margin: 5px 2px;
    padding-top: 4px;
    padding-bottom: 5px;
    border: solid 1px;
    border-color: #c5c5c5;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.content-container-filler{
    clear: both;
    width: 100%;
    height: 1px;
}

/*---------------------------------------- Main section */

/*----------------------- Homepage */

.navbar-spacer{
    width: 100%;
    height: 50px;
    display: block;
}

.homepage-image{
    background: url("../images/m360_oak_sc.jpg") center center;
    min-height: 160px;
    height: 42vw;
    width: 99%;
    max-width: 996px;
    background-size: cover;
    margin: 2px auto 5px;
    border: solid 1px;
    border-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);

}

@media(min-width:1060px){
    .homepage-image{
        height: 445px;
    }
}


/*----------------------- Product pages */

.product-type-button{
    min-height: 100px;
}

.product-button{
    min-height: 250px;
}

@media(min-width:320px){
    .product-button{
        min-height: 240px;
    }
}

@media(min-width:350px){
    .product-button{
        min-height: 210px;
    }
}

@media(min-width:400px){
    .product-button{
        min-height: 180px;
    }
}

@media(min-width:450px){
    .product-button{
        min-height: 160px;
    }
}

@media(min-width:500px){
    .product-button{
        min-height: 140px;
    }
}

@media(min-width:600px){
    .product-button{
        min-height: 120px;
    }
}

@media(min-width:700px){
    .product-button{
        min-height: 100px;
    }
}

@media(min-width:768px){
    .product-button{
        min-height: 140px;
    }
}

@media(min-width:900px){
    .product-button{
        min-height: 130px;
    }
}

@media(min-width:1200px){
    .product-button{
        min-height: 140px;
    }
}

.fine-print{
    font-size: 0.9em;
}

.top-offset-50, .top-offset-100, .top-offset-150{
    margin-top: 0;
}

@media(min-width:992px){
    .top-offset-50{
        margin-top: 50px;
    }
    .top-offset-100{
        margin-top: 100px;
    }
    .top-offset-150{
        margin-top: 150px;
    }
}