@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

/*---------------------------------------- General Containers */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-width: 300px;
    font-family: "Open Sans", sans-serif;
}

header,
footer {
    display: block;
    background-color: black;
}

.sticky {
    position: fixed;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.large-screen-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    float: none;
}

.col-fifth {
    width: 18%;
    min-height: 1px;
}

.wrapper-container {
    margin: 1px 1px 4px;
    float: none;
}

@media(min-width:992px) {
    .wrapper-container {
        margin: 1px auto 4px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.product-image {
    max-width: 750px;
}

.product-content p,
.product-content h4 {
    padding: 2px 5px;
}

.middle {
    margin: auto auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.icon {
    max-width: 42px;
    float: left;
    margin: 2px 6px;
}

.fade-bottom-white {
    width: 100%;
    height: 10px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(249, 249, 249, 0), rgba(249, 249, 249, 1), rgba(249, 249, 249, 1));
    margin-top: -15px;
}

li {
    list-style: none;
}

h3 {
    margin-bottom: 10px;
}

.rounded {
    border-radius: 10px;
}

.overlay {
    position: absolute;
}

.locator {
    margin-top: -50px;
}

/*----------------------- Header */

.navbar {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #fafafa;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 20;
}

.navbar-items {
    height: 50px;
}

.navbar-button {
    height: 100%;
    text-decoration: none;
    color: inherit;
    font-family: "Noto Serif KR", sans-serif;
    font-weight: 400;
    line-height: 45px;
    font-size: 19px;
    display: block;
    float: left;
    margin: auto 5px;
    transition: color ease-in-out 0.2s;
    transition: font-size ease-in-out 0.15s;
}

.navbar-button:hover,
.navbar-button:active {
    color: #b10000;
    font-size: 18px;
    transition: color ease-in-out 0.2s;
    transition: font-size ease-in-out 0.15s;
}

.logo {
    background: url("../images/cammegh_logo.gif");
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 2px 5px;
    position: relative;
    transition: height ease-in-out 0.2s;
}

@media(min-width:992px) {
    .logo {
        background-position: center center;
    }
}

.logo:hover {
    height: 44px;
    transition: height ease-in-out 0.15s;
}

/*----------------------- Footer */

.footer {
    bottom: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #fafafa;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: block;
    margin-top: -40px;
    z-index: 20;
}

.top-return {
    height: 40px;
    text-align: center;
    display: block;
    float: left;
    width: 65%;
}

.footer-spacer {
    width: 100%;
    height: 40px;
    display: block;
    clear: both;
}

@media (max-device-height:400px) and (orientation:landscape) {
    .footer {
        position: relative;
    }
}

.footer-button {
    display: block;
    font-family: "Noto Serif KR", sans-serif;
    padding-top: 10px;
    padding-bottom: 8px;
    color: inherit;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    transition: color ease-in-out 0.2s;
    transition: font-size ease-in-out 0.15s;
}

.footer-button:hover {
    color: #b10000;
    font-size: 11px;
    transition: color ease-in-out 0.2s;
    transition: font-size ease-in-out 0.15s;
}

.can-touch .footer-button:hover {
    color: inherit;
    font-size: 12px;
}

@media(min-width:350px) {
    .footer-button:hover {
        font-size: 12px;
    }
    .footer-button,
    .can-touch .footer-button:hover {
        padding-top: 9px;
        font-size: 13px;
    }
}

@media(min-width:400px) {
    .footer-button:hover {
        font-size: 13px;
    }
    .footer-button,
    .can-touch .footer-button:hover {
        padding-top: 8px;
        font-size: 14px;
    }
}

@media(min-width:450px) {
    .footer-button:hover {
        font-size: 14px;
    }
    .footer-button,
    .can-touch .footer-button:hover {
        font-size: 15px;
    }
}

@media(min-width:500px) {
    .footer-button:hover {
        font-size: 15px;
    }
    .footer-button,
    .can-touch .footer-button:hover {
        padding-top: 7px;
        font-size: 16px;
    }
}

@media(min-width:550px) {
    .footer-button:hover {
        font-size: 16px;
    }
    .footer-button,
    .can-touch .footer-button:hover {
        padding-top: 6px;
        font-size: 17px;
    }
}

/*----------------------- Dropdown Menu */

.fa-2x {
    float: right;
    padding: 8px 14px 10px;
    color: #fafafa;
    cursor: pointer;
    transition: color ease-in-out 0.1s;
}

.fa-2x:hover {
    color: #b10000;
    transition: color ease-in-out 0.1s;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #232323;
    min-width: 160px;
    margin: 50px auto 0;
    right: 0%;
    width: 100vw;
    text-align: left;
}

.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: #fafafa;
    font-family: "Noto Serif KR", sans-serif;
    font-weight: 500;
    padding: 15px 0 15px 10px;
    font-size: large;
    transition: background-color ease-in-out 0.15s;
    transition: color ease-in-out 0.15s;
}

.dropdown-menu a:nth-child(even) {
    background: #3a3a3a;
}

.dropdown-menu a:hover {
    color: #b10000;
    background-color: #111111;
    transition: background-color ease-in-out 0.15s;
    transition: color ease-in-out 0.15s;
}

/*----------------------- Generic bits */

hr {
    width: 10%;
    margin: 5px auto;
}

.content-container {
    padding: 0 10px;
    margin: 5px 2px;
    padding-top: 4px;
    padding-bottom: 5px;
    border: solid 1px;
    border-color: #c5c5c5;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content-container-filler {
    clear: both;
    width: 100%;
    height: 1px;
}

/*---------------------------------------- Main section */

/*----------------------- Homepage */

.navbar-spacer {
    width: 100%;
    height: 50px;
    display: block;
}

.homepage-image {
    background: url("../images/m360_oak_sc.jpg") center center;
    min-height: 160px;
    height: 42vw;
    width: 99%;
    max-width: 996px;
    background-size: cover;
    margin: 2px auto 5px;
    border: solid 1px;
    border-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

@media(min-width:1060px) {
    .homepage-image {
        height: 445px;
    }
}


/*----------------------- Product pages */

.product-type-button {
    min-height: 100px;
}

.product-button {
    min-height: 270px;
    cursor: pointer;
}

@media(min-width:350px) {
    .product-button {
        min-height: 230px;
    }
}

@media(min-width:400px) {
    .product-button {
        min-height: 205px;
    }
}

@media(min-width:450px) {
    .product-button {
        min-height: 185px;
    }
}

@media(min-width:500px) {
    .product-button {
        min-height: 165px;
    }
}

@media(min-width:600px) {
    .product-button {
        min-height: 140px;
    }
}

@media(min-width:768px) {
    .product-button {
        min-height: 165px;
    }
}

@media(min-width:900px) {
    .product-button {
        min-height: 145px;
    }
}

@media(min-width:992px) {
    .product-button {
        min-height: 165px;
    }
}

.fine-print {
    font-size: 0.85em;
}

.top-offset-50,
.top-offset-100,
.top-offset-150 {
    margin-top: 0;
}

@media(min-width:992px) {
    .top-offset-50 {
        margin-top: 50px;
    }
    .top-offset-100 {
        margin-top: 100px;
    }
    .top-offset-150 {
        margin-top: 150px;
    }
}

.sic-bo-graphics {
    background-color: black;
    border-radius: 5px;
}

.wheel-manager-descriptor {
    padding: 0 20px 20px 20px;
}

.product-image-center-fix {
    margin-left: auto;
}

@media(min-width:992px) {
    .product-image-center-fix {
        margin-left: 110px;
    }
}

.logo-overlay {
    position: absolute;
    margin-top: -60vw;
}

@media(min-width:992px) {
    .logo-overlay {
        margin-top: -600px;
    }
}

.fieldset-style {
    border: solid 1px black;
    margin-top: 15px;
    margin-left: -2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.fieldset-style-title {
    margin: -10px 0 0 10px;
    padding: 0 5px;
    background-color: #f9f9f9;
    width: 200px;
}

.legend-style {
    text-align: right;
}

.fieldset-style p {
    font-size: x-small;
}

@media(min-width:500px) {
    .fieldset-style p {
        font-size: smaller;
    }
}

@media(min-width:600px) {
    .fieldset-style p {
        font-size: small;
    }
}

@media(min-width:700px) {
    .fieldset-style p {
        font-size: inherit;
    }
}

.product-button-container {
    transition: width 0.5s ease-in-out 0.5s;
}

.active-product-image {
    height: 100%;
    max-width: 700px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.active-product,
.active-product-header {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.active-product-content {
    display: none;
    padding: 5px;
}

.descriptor {
    display: none;
}

.active-product-content>p {
    margin-bottom: 5px;
}

/*----------------------- Contact page */

#map {
    width: 96vw;
    max-width: 968px;
    height: 400px;
    margin-top: 6px;
}


/*----------------------- Wheel Builder page */

.wheel-builder-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}

#balltrack {
    z-index: 1;
}

#cone {
    z-index: 2;
}

#numberarc {
    z-index: 3;
}

#separator {
    z-index: 4;
}

#ballstops {
    z-index: 5;
}

#outerbowl {
    z-index: 6;
}

#toprim {
    z-index: 7;
}

#halo {
    z-index: 8;
}

#turret {
    z-index: 9;
}

.selection-tab {
    padding: 4px 0;
    margin-bottom: 2px;
    margin-right: 2px;
    text-transform: uppercase;
    background-color: #3a3a3a;
    color: #f9f9f9;
    cursor: pointer;
    transition: background-color ease-in-out 0.15s;
}

.selection-tab span {
    margin-left: 12px;
}

@media(min-width:992px) {
    .selection-tab {
        width: 9.79393%;
        font-size: 12px;
        text-align: center;
    }
    .selection-tab span {
        margin-left: 0;
    }
}

.selection-tab:hover {
    background-color: #111111;
    transition: background-color ease-in-out 0.15s;
}

.can-touch .selection-tab:hover,
.selection-tab.active {
    background-color: #232323;
    transition: background-color ease-in-out 0.15s;
}

.selection-list {
    background-color: #232323;
    margin-top: -2px;
    margin-bottom: 2px;
    color: #fafafa;
    display: none;
}

.selection-list .content-container-filler {
    height: 5px;
}

.selection-list-container,
.review-list-container,
.selection-list-container-full {
    width: 100%;
    transition: width ease-in-out 0.3s;
}

.selection-list-option-container {
    margin: 0 5px 0;
    padding: 5px 5px 0;
}

.selection-list-option {
    border: solid 2px #b10000;
    transition: border-color linear 0.15s;
}

@media(min-width:450px) {
    .selection-list-container {
        width: 50%;
        transition: width ease-in-out 0.3s;
    }
}

@media(min-width:650px) {
    .selection-list-container {
        width: 33.3333333%;
        transition: width ease-in-out 0.3s;
    }
}

@media(min-width:850px) {
    .selection-list-container {
        width: 25%;
        transition: width ease-in-out 0.3s;
    }
    .selection-list-container-full {
        width: 50%;
        transition: width ease-in-out 0.3s;
    }
}

.selection-list-option span {
    margin: 5px;
}

.selection-list-option:hover,
.selection-list-option.active {
    border-color: #00b100;
    cursor: pointer;
    transition: border-color linear 0.15s;
}

.can-touch .selection-list-option:hover:not(.active) {
    border-color: #b10000;
}

.selection-list form {
    padding-left: 12px;
    padding-top: 4px;
}

.selection-list form span {
    padding-right: 8px;
}

.hidden-xs .active,
.arc-container {
    display: none;
}

.col-md-12 .active,
.active {
    display: block;
}

@media(min-width:992px) {
    .hidden-md {
        display: none;
    }
}

#enquiry-form {
    border: solid 1px rgba(255, 255, 255, 0.25);
    margin: 10px 0 5px;
    padding: 10px;
    padding-top: 0;
    background: rgba(0, 0, 0, 0.3);
}

#enquiry-form p {
    margin-top: 10px;
}

.checkbox {
    margin: 10px 0;
}

.submit {
    padding: 3px 10px;
}
